.slider {
    margin: 5rem auto;
    position: relative;
}

.slider img {
    display: block;
    max-width: 60%;
    max-height: 60%;
    margin: 0 auto;
    transition: all 1s;
    box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.2);
}


.fa-solid {
    position: absolute;
    top: 50%;
    font-size: 2rem;
    border: 1px solid black;
    padding: 6px;

}

.fa-solid.fa-chevron-right {
    right: 10%;
}

.fa-solid.fa-chevron-left {
    left: 10%;
}